<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Demo Operaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="number" label="Numero 1" [(ngModel)] = "txtN1">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" label="Numero 2" [(ngModel)] = "txtN2">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" label="Resultado" [(ngModel)] = "txtResultado">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-button color="primary" fill="outline" expand="block" (click)="sumar()">Sumar</ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="primary" fill="outline" expand="block" (click)="restar()">Restar</ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="primary" fill="outline" expand="block" (click)="multiplicar()">Multiplicar</ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="primary" fill="outline" expand="block" (click)="dividir()">Dividir</ion-button>
  </ion-item>
</ion-content>
